.wrapper {
    font-family: Arial, sans-serif;
}

.header {
    height: 60px;
    width: 100%;
    border-bottom: 1.2px solid var(--brown, #4d2114);
    background: #705c53;
    display: flex;
    align-items: center;
    padding-left: 40px;
    h1 {
        color: #fff;
        text-decoration: underline #ff7801 1px;
        font-weight: 300;
    }
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background: #f8f5f2;

    .left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 500px;
            height: auto;
        }
    }

    .right {
        flex: 1;
        padding: 30px;
        background: #dfd3c3;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin-right: 20px;

        .title {
            text-align: center;
            font-size: 28px;
            color: #4d2114;
            margin-bottom: 20px;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 50px;

            label {
                font-size: 20px;
                color: #4d2114;

                input {
                    width: 100%;
                    height: 40px;
                    border: 1px solid #ceb6a0;
                    border-radius: 5px;
                    padding: 0 10px;
                    background: rgba(208, 184, 168, 0.6);
                    outline: none;
                }
            }

            .password-wrapper {
                display: flex;
                align-items: center;
                input {
                    flex: 1;
                }
                .toggle-password {
                    background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        margin-left: 10px;
        color: #4d2114;
        transition: all 0.3s;

        &:hover {
            color: #705c53;
        }
                }
            }

            .options {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                margin-bottom: 20px;
            
                label {
                    display: flex;
                    align-items: center;
                    gap: 8px; // Khoảng cách giữa checkbox và chữ
                    white-space: nowrap; // Ngăn chữ xuống dòng
                }
            
                a {
                    text-decoration: none;
                    color: #4d2114;
                    transition: color 0.3s;
            
                    &:hover {
                        color: #f5560d;
                    }
                }
            }
        }

        .login-button {
            width: 100%;
            height: 50px;
            border: none;
            background: #ceb6a0;
            color: #4d2114;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background: #fe8c2f;
            }
        }
    }
}
