@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;700&display=swap');

$n1-color: #F8EDE3;
$n2-color: #DFD3C3;
$n3-color: #D0B8A8;
$n4-color: #8D493A;
$background-color: $n1-color;
$date-color: $n4-color;
$line-color: $n3-color;

.today-page-container {
    background-color: $background-color;
    display: flex;
    font-family: 'Roboto Flex', sans-serif;
    height: 100vh;
    width: 100%;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    width: 100%;
}

.heading-container {
    align-items: baseline;
    border-bottom: 2px solid $line-color;
    display: flex;
    margin-bottom: 10px;
}

.today-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 20px;
}

.date-heading {
    color: $date-color;
    font-size: 1rem;
    font-weight: normal;
}

.important-section {
    margin-top: 30px;
    align-items: flex-start;
    border-bottom: 2px solid $line-color;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 10px;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .important-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 99%;

        .important-item {
            align-items: center;
            background-color: $n2-color;
            border-bottom: 1px solid $line-color;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 10px;
            transition: opacity 0.5s ease-out;
            width: 100%;

            &.fade-out {
                opacity: 0;
            }

            .left-section {
                align-items: center;
                display: flex;
                margin-right: 10px;

                .tick-circle {
                    appearance: none;
                    border: 2px solid $n4-color;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 20px;
                    margin-right: 10px;
                    position: relative;
                    width: 20px;
                }

                .tick-circle:checked::before {
                    background-color: $n4-color;
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 12px;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 12px;
                }

                .due-time {
                    color: $n4-color;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: bold;
                    text-align: right;
                    width: 80px;
                }
            }

            .item-content {
                flex-grow: 1;
                margin-left: 20px;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

.not-important-section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .important-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 99%;

        .important-item {
            align-items: center;
            background-color: $n2-color;
            border-bottom: 1px solid $line-color;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 10px;
            transition: opacity 0.5s ease-out;
            width: 100%;

            &.fade-out {
                opacity: 0;
            }

            .left-section {
                align-items: center;
                display: flex;
                margin-right: 10px;

                .tick-circle {
                    appearance: none;
                    border: 2px solid $n4-color;
                    border-radius: 50%;
                    cursor: pointer;
                    height: 20px;
                    margin-right: 10px;
                    position: relative;
                    width: 20px;
                }

                .tick-circle:checked::before {
                    background-color: $n4-color;
                    border-radius: 50%;
                    content: '';
                    display: block;
                    height: 12px;
                    left: 50%;
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 12px;
                }

                .due-time {
                    color: $n4-color;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: bold;
                    text-align: right;
                    width: 80px;
                }
            }

            .item-content {
                flex-grow: 1;
                margin-left: 20px;
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}