.header {
  height: 60px;
  width: 100%;
  border-bottom: 1.2px solid var(--brown, #4d2114);
  background: #705c53;
  display: flex;

  align-items: center;
  padding-left: 40px;
  gap: 6px;
  h1 {
      color: #fff;
      text-decoration: underline #ff7801 1px;
      font-weight: 300;
      font-size: 25px;
  }
  image {
    width: 16px; /* Kích thước icon */
    height: 16px; 
  }

  .auth_buttons {
    margin-left: auto;
    display: flex;
    gap: 15px;
    padding-right: 30px;
    align-items: center;

    .sign_up {
      background-color: #FF7801; /* Orange button */
      color: #ffffff;
      padding: 8px 16px;
      border: none;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: normal;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #e67e22; /* Darker orange on hover */
      }
    }

    .log_in {
      background-color: #ffffff; /* White button */
      color: #6c4e3f; /* Brown text */
      padding: 8px 16px;
      border: 2px solid #6c4e3f;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: normal;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #6c4e3f; /* Brown on hover */
        color: #ffffff; /* White text on hover */
      }
    }
  }
}