@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --amber_900: #ff7801;
    --black_900: #030712;
    --black_900_01: #080808;
    --black_900_02: #000000;
    --black_900_19: #00000019;
    --black_900_3f: #0000003f;
    --black_900_66: #00000066;
    --black_900_7f: #0000087f;
    --blue_100: #c0dceb;
    --blue_50: #e8f4fa;
    --blue_gray_100: #d9d9d9;
    --blue_gray_200: #a4bebe;
    --blue_gray_400: #87898c;
    --blue_gray_700: #535c68;
    --blue_gray_900: #323232;
    --blue_gray_900_01: #333333;
    --deep_orange_300: #ff866e;
    --deep_orange_50: #f8ede3;
    --deep_orange_50_01: #f6dee2;
    --deep_orange_50_02: #f8eee2;
    --deep_orange_800: #db4f11;
    --deep_orange_a200: #ff6242;
    --gray_100: #f1f3f5;
    --gray_100_01: #f9f6f2;
    --gray_200: #efeef0;
    --gray_200_01: #e5e7eb;
    --gray_200_7f: #efeef07f;
    --gray_200_96: #efeef896;
    --gray_300: #e6e6e6;
    --gray_300_01: #e5e5e5;
    --gray_400: #bfbfbf;
    --gray_400_01: #bdbece;
    --gray_400_99: #d0b8a899;
    --gray_600: #827d89;
    --gray_600_01: #7f7f7f;
    --gray_700: #57606f;
    --gray_700_01: #705c53;
    --gray_700_02: #686868;
    --gray_700_47: #7c644e47;
    --gray_700_4c: #7c644e4c;
    --gray_700_b2: #666666b2;
    --gray_800: #45413c;
    --gray_800_01: #3b3b3b;
    --gray_800_02: #3d3d3d;
    --gray_800_03: #3f3f3f;
    --gray_800_04: #383838;
    --gray_900: #180e25;
    --gray_900_01: #591622;
    --gray_900_02: #4d2114;
    --gray_900_3f: #5916223f;
    --gray_900_99: #180e2599;
    --gray_900_bf: #4d2114bf;
    --gray_908_bf_01: #591622bf;
    --light_green_100: #dfd3c3;
    --light_green_900: #555410;
    --light_green_900_3f: #5554103f;
    --light_green_900_bf: #555410bf;
    --lime_900: #8d493a;
    --lime_900_d1: #8f5840d1;
    --orange_50: #f6f6d4;
    --purple_100: #f7bef1;
    --purple_a100: #f996ee;
    --red_a100: #f18392;
    --teal_50: #daedf7;
    --white_a700: #ffffff;
    --shadow-xs: 1px 1px 1px 0 #000000;
    --shadow-sm: 1px 0 4px 0 #0000003f;
    --shadow-md: 0 4px 4px 0 #0000003f;
    --shadow-lg: 8px 8px 50px e #0000003f;
    --shadow-xl: 0 3.2px 8px 0 #00000019;
    --shadow-2x1: 3.2px 3.2px 1px 0 #000000;
    --shadow-bs: inset 0 -0.49px 1px 0 #0000087f;
    --shadow-bs1: inset 1.6px 1.6px 1px 0 #000000;
    --radius-xs: 1px;
    --radius-sm: 2px;
    --radius-md: 3px;
    --radius-lg: 4px;
    --radius-xl: 6px;
    --radius-2x1: 8px;
    --radius-3x1: 10px;
    --radius-4x1: 12px;
    --radius-5x1: 14px;
    --radius-6x1: 18px;
    --radius-7x1: 20px;
    --radius-8x1: 22px;
    --radius-9x1: 24px;
    --radius-10x1: 38px;
    --space-xs: 4px;
    --space-sm: 6px;
    --space-md: 7px;
    --space-lg: 8px;
    --space-xl: 9px;
    --space-2x1: 9.09px;
    --space-3x1: 10px;
    --space-4x1: 11px;
    --space-5x1: 12px;
    --space-6x1: 14px;
    --space-7x1: 16px;
    --space-8x1: 18px;
    --space-9x1: 22px;
    --space-10x1: 24px;
    --space-11x1: 26px;
    --space-12x1: 30px;
    --space-13x1: 32px;
    --space-14x1: 38px;
  }
  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
  }
  [type="text"]:focus,
  [type="email"]:focus,
  [type="url"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="date"]:focus,
  [type="search"]:focus,
  [multiple]:focus,
  textarea:focus,
  select:focus {
    --tw-ring-color: transparent;
    border-color: transparent;
  }
  [type="radio"]:focus,
  [type="checkbox"]:focus {
    --tw-ring-color: transparent;
  }
}
@layer components {
  .container-xs {
    @apply w-full mx-auto max-w-[958px];
  }
}
