
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background: #f8ede3;
}

.app {
    display: grid;
    grid-template-columns: 15% 84%;
    gap: 1%;
    height: 100vh;
}

