.wrapper {
}

.inner {
    width: 500px;
    border-radius: 10px;
    background: #dfd3c3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        text-align: center;
        font-size: 45px;
        color: #4d2114;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            border-radius: 10px;
            background: rgba(208, 184, 168, 0.6);
            border: none;
            padding-left: 10px;
            height: 50px;
            outline: none;
            font-weight: 400;
        }
    }

    .checkbox {
        padding-left: 10%;
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 18px;

        input {
            width: 17px;
            height: 17px;
        }

        label {
            color: #4d2114;
            font-size: 16px;
        }
    }

    .button-container {
        display: flex;
        justify-content: center;

        .btn-signup {
            width: 200px;
            height: 50px;
            border-radius: 10px;
            background: #ceb6a0;
            border: none;
            font-weight: 600;
            color: #4d2114;
            cursor: pointer;
            transition: background 0.3s;
            text-align: center;

            &:hover {
                background: #bda590;
            }
        }
    }

    .continue {
        display: flex;
        flex-direction: column;
        gap: 10px;

        button {
            border: none;
            height: 40px;
            border-radius: 10px;
            background: rgba(208, 184, 168, 0.6);
            color: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-weight: 600;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                background: rgba(188, 164, 148, 0.8);
            }

            img {
                width: 20px;
            }
        }

        .btn-google {
            background: #fff;
            color: #000;

            &:hover {
                background: #f0f0f0;
            }
        }

        .btn-apple {
            background: #000;
            color: #fff;

            &:hover {
                background: #333;
            }
        }
    }
}

.header {
    height: 60px;
  width: 100%;
  border-bottom: 1.2px solid var(--brown, #4d2114);
  background: #705c53;
  display: flex;

  align-items: center;
  padding-left: 40px;
  gap: 6px;
  h1 {
      color: #fff;
      text-decoration: underline #ff7801 1px;
      font-weight: 300;
      font-size: 25px;
  }
  image {
    width: 16px; /* Kích thước icon */
    height: 16px; 
  }
}
